body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

#scale {
    margin: 20px 0;
}

.note {
    font-size: 24px;
    margin: 0 5px;
}

.underline {
    border-bottom: 3px solid red;
    padding-bottom: 2px;
}

.instructions {
    text-align: left;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h3 {
    margin-top: 0;
    font-size: 18px;
}

.instructions ul {
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 10px;
}
